.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 80%;
    padding: 10px 50px;

    & .each-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        & img {
            width: 20px;
        }

        & a {
            color: #292F2D;
            cursor: pointer;
        }
    }
}


@media (max-width: 900px) { 
    .contact-box {
        gap: 5px;
        width: 80%;
        padding: 5px 10px;
    
        & .each-row {    
            & img {
                width: 12px;
            }

            & p, a {
                font-size: 9px;
            }
        }
    }
}