.open-book {
    background-color: transparent;
    width: 900px;
    height: 700px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    rotate: -10deg;
}

.page {
    background: linear-gradient(to left, rgb(245, 213, 172), antiquewhite);
}

.pg-num {
    font-size: 10px;
    position: absolute;
    bottom: 1%;
    right: 5%;
}