// ABOUT ME PAGE
.about-me {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    & .overview {
        width: 100%;
        padding: 0 60px;
        box-sizing: border-box;
        text-align: left;
        line-height: 1.4;

        & span {
            font-weight: bold;
        }
    }
}


/* EXPERIENCE PAGE */
.full-experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    border-left: 2px solid #292F2D;
    padding: 0 25px;
    margin-left: 30px;
}

.experience-title u {
    font-size: 32px;
}

.full-experience .experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    & h3 {
        margin: 0 0 5px;
        position: relative;
        font-size: 17px;

        &::before {
            content: "";
            display: block;
            height: 15px;
            width: 15px;
            rotate: 45deg;
            background-color: #292F2D;
            position: absolute;
            left: -33px;
        }
    }

    & p {
        margin: 0;
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: bold;
        color: #814834;
    }

    & ul {
        padding-left: 20px;
        margin: 0;

        & li {
            font-size: 14px;
            text-align: left;
            margin: 0;
        }
    }
}


// SKILLS PAGE
.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    flex-direction: column;

    & .skill {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: normal;
        gap: 6px;

        & h4 {
            font-size: 15px;
            margin: 0 0 5px;
            text-align: left;
        }

        & .row {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            align-items: center;
            margin: 0;

            & div{
                width: 20px;
            }

            & p {
                font-size: 12px;
                margin: 0;
                text-align: left;
            }

            & img {
                max-height: 20px;
                max-width: 20px;
                margin: auto;
            }
        }
    }
}


// EDUCATION PAGE
.education {
    text-align: left;

    & p {
        margin: 0;
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: bold;

        & span {
            color: #814834;
            font-weight: normal;
        }
    }
}

.certifications {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}


//ACHIEVEMENTS PAGE
.achievements-card {
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    // margin-top: 30px;
    // z-index: 5;

    & section {
        // background-color: yellow;
        background: #f5f4f0;
        // border: 1px solid #292F2D;
        height: 200px;
        width: 100%;
        position: relative;
        

        &:nth-child(even) {
            background: -moz-linear-gradient(-45deg, #e9eae5 0%, rgba(244, 245, 240, 0) 100%);
            background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #e9eae5), color-stop(100%, rgba(244, 245, 240, 0)));
            background: -webkit-linear-gradient(-45deg, #e9eae5 0%, rgba(244, 245, 240, 0) 100%);
            background: -o-linear-gradient(-45deg, #e9eae5 0%, rgba(244, 245, 240, 0) 100%);
            background: -ms-linear-gradient(-45deg, #e9eae5 0%, rgba(244, 245, 240, 0) 100%);
            background: linear-gradient(45deg, #e9eae5 0%, rgba(244, 245, 240, 0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9eae5', endColorstr='#00f4f5f0',GradientType=1 ); 
        }

        &:nth-child(odd):before {
            // z-index: 2;
            position: absolute;
            content: "";
            bottom: 0px;
            left: 4px;
            width: 5px;
            top: 30px;
            filter: blur(1px);
            // background: rgba(0, 0, 0, 0.7);
            background: linear-gradient(85deg, rgba(0,0,0,1) 0%, transparent 20%);
            // -webkit-box-shadow: -10px 20px 15px rgba(0, 0, 0, 0.5);
            // -moz-box-shadow: -10px 20px 15px rgba(0, 0, 0, 0.5);
            // box-shadow: -10px 20px 15px rgba(0, 0, 0, 0.5);
            -webkit-transform: rotate(5deg);
            -moz-transform: rotate(5deg);
            -o-transform: rotate(5deg);
            -ms-transform: rotate(5deg);
            transform: rotate(5deg); 
        }

        &:nth-child(odd):after {
            // z-index: 2;
            position: absolute;
            content: "";
            bottom: 0px;
            right: 4px;
            left: auto;
            width: 5px;
            top: 30px;
            filter: blur(1px);
            // background: rgba(0, 0, 0, 0.7);
            background: linear-gradient(275deg, rgba(0,0,0,1) 0%, transparent 20%);
            // -webkit-box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.5);
            // -moz-box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.5);
            // box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.5);
            -webkit-transform: rotate(-5deg);
            -moz-transform: rotate(-5deg);
            -o-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
            transform: rotate(-5deg); 
        }

        &:nth-child(even):before {
            // z-index: -1;
            position: absolute;
            content: "";
            bottom: 20px;
            left: 4px;
            width: 3px;
            // height: 15px;
            top: 0;
            filter: blur(1px);
            // background: rgba(0, 0, 0, 0.7);
            background: linear-gradient(106deg, rgba(0,0,0,1) 0%, transparent 18%);
            // -webkit-box-shadow: -10px -25px 15px rgba(0, 0, 0, 0.5);
            // -moz-box-shadow: -10px -25px 15px rgba(0, 0, 0, 0.5);
            // box-shadow: -10px -25px 15px rgba(0, 0, 0, 0.5);
            -webkit-transform: rotate(-5deg) translateY(-3px);
            -moz-transform: rotate(-5deg) translateY(-3px);
            -o-transform: rotate(-5deg) translateY(-3px);
            -ms-transform: rotate(-5deg) translateY(-3px);
            transform: rotate(-5deg) translateY(-3px); 
        }
    
        &:nth-child(even):after {
            // z-index: -1;
            position: absolute;
            content: "";
            bottom: 20px;
            right: 4px;
            left: auto;
            width: 4px;
            // height: 15px;
            top: 0;
            filter: blur(1px);
            // background: rgba(0, 0, 0, 0.7);
            background: linear-gradient(258deg, rgba(0,0,0,1) 0%, transparent 18%);
            // -webkit-box-shadow: 10px -25px 15px rgba(0, 0, 0, 0.5);
            // -moz-box-shadow: 10px -25px 15px rgba(0, 0, 0, 0.5);
            // box-shadow: 10px -25px 15px rgba(0, 0, 0, 0.5);
            -webkit-transform: rotate(5deg) translateY(-3px);
            -moz-transform: rotate(5deg) translateY(-3px);
            -o-transform: rotate(5deg) translateY(-3px);
            -ms-transform: rotate(5deg) translateY(-3px);
            transform: rotate(5deg) translateY(-3px); 
        }
    }
}