// ABOUT ME PAGE
.about-me {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    & .overview {
        width: 100%;
        padding: 0 60px;
        box-sizing: border-box;
        text-align: left;

        & span {
            font-weight: bold;
        }
    }
}


/* EXPERIENCE PAGE */
.full-experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    border-left: 2px solid #292F2D;
    padding: 0 25px;
    margin-left: 30px;
}

.experience-title u {
    font-size: 32px;
}

.full-experience .experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    & h3 {
        margin: 0 0 5px;
        position: relative;
        font-size: 17px;

        &::before {
            content: "";
            display: block;
            height: 15px;
            width: 15px;
            rotate: 45deg;
            background-color: #292F2D;
            position: absolute;
            left: -33px;
        }
    }

    & p {
        margin: 0;
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: bold;
        color: #814834;
    }

    & ul {
        padding-left: 20px;
        margin: 0;

        & li {
            font-size: 14px;
            text-align: left;
            margin: 0;
        }
    }
}


// SKILLS PAGE
.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    flex-direction: column;

    & .skill {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: normal;
        gap: 6px;

        & h4 {
            font-size: 15px;
            margin: 0 0 5px;
            text-align: left;
        }

        & .row {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            align-items: center;
            margin: 0;

            & div{
                width: 20px;
            }

            & p {
                font-size: 12px;
                margin: 0;
                text-align: left;
            }

            & img {
                max-height: 20px;
                max-width: 20px;
                margin: auto;
            }
        }
    }
}