.each-project {
    width: 100%;
    height: 100%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    color: #292F2D;

    &.shadow {
        -webkit-box-shadow: -18px 19px 15px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -18px 19px 15px 0px rgba(0,0,0,0.75);
        box-shadow: -18px 19px 15px 0px rgba(0,0,0,0.75);
    }

    &.justify-center {
        justify-content: center;
    }

    & .project-image {
        width: 100%;
        border-radius: 5px;
        scale: 1;
        transition: scale 0.3s;
        
        &.hover:hover {
            scale: (1.7);
        }

        &.portrait {
            width: 40%;
        }
    }

    & .video-container {
        position: relative;

        & video {
            width: 50%;
            border-radius: 5px;
        }
    }

    & h6 {
        font-size: 20px;
    }

    & p {

        & a {
            color: #292F2D;
            font-weight: bold;
        }

        & span {
            font-weight: bold;
        }
    }
}


// RESPONSIVENESS
@media (max-width: 900px) {
    .each-project {
        padding: 15px 15px;
        gap: 5px;

        & .project-image {
            width: 90%;

            &.portrait {
                width: 30%;
            }
        }

        & .video-container video {
            width: 35%;
        }
    
        & h6 {
            font-size: 10px;
        }

        & p {
            font-size: 8px;
        }
    }
}